<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="x-ua-compatible" content="IE=9"/><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MAPS | A TEST ONLINE WEBSITE</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../res/css/bootstrap.min.css">
    <link rel="stylesheet" href="../res/css/animate.min.css">
    <link rel="stylesheet" href="../res/css/font-awesome.min.css">
    <link rel="stylesheet" href="../res/css/style_login.css">
    <link rel="stylesheet" href="../res/css/style.css">
</head>

<body>
<header class="mc-navbar">
    <nav class="navbar navbar-default navbar-fixed-top clearfix" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#sept-main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="../res/images/logo.png" alt="" class="img-responsive"></a>
            </div>


            <div class="collapse navbar-collapse main-nav" id="sept-main-nav">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/page/index.html">Home</a></li>
                    <li><a href="#">Test</a></li>
                    <li><a href="#">Student</a></li>
                    <li><a href="#">Teacher</a></li>
                    <li><a href="#">Generacch</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="/page/signup.html">Sign up</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-8" ng-app="loginApp" ng-controller="loginCtrl">
            <form action="#" class="ls-form animate-box"
                  data-animate-effect="fadeInRight">
                <h2>Sign In</h2>
                <div class="form-group newsletter">
                    <i class="input_usrn"></i>
                    <input type="text" class="form-control "
                           id="username" name="username"
                           ng-model="userLogin.userId" maxlength="30"
                           placeholder="Username" autocomplete="off">
                </div>
                <div class="form-group newsletter">
                    <i class="input_psw"></i>
                    <input type="password" class="form-control"
                           id="password"  name="userPassword"
                           ng-model="userLogin.userPassword" maxlength="30"
                           placeholder="Password" autocomplete="off">
                </div>
                <div>
                <span ng-model="message" style="color:red">{{message}}</span>
            </div>
                <div class="form-group">
                    <label for="remember"><input type="checkbox" id="remember"> Remember Me</label>
                </div>
                <div class="form-group-center">
                    <input type="button" value="Log In" ng-click="login()" class="btn btn-main">
                    <input type="button" value="Forget" class="btn btn-danger">
                </div>
                <div class="form-group-last">
                    <a class="ls-new" href="/page/signup.html"> Creat new account！</a>
                </div>
            </form>


        </div>
    </div>
</div>


<!-- js -->
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="../res/js/loginController.js"></script>
<script src="../res/js/jquery.min.js"></script>
<script src="../res/js/bootstrap.min.js"></script>
<script src="../res/js/jquery.waypoints.min.js"></script>
<script src="../res/js/animate.js"></script>
<script src="../res/js/jquery.shuffle.modernizr.js"></script>
<script src="../res/js/jquery.placeholder.min.js"></script>


</body>
</html>
